.header {
	display: flex;
	flex-direction: column;
	margin-bottom: 5rem;
}

.title {
	font-size: xx-large;
	font-weight: bold;
	margin-bottom: 0.5rem;
}

.excerpt {
	color: ghostwhite;
	margin-bottom: 1rem;
}

.featuredImageContainer {
	position: relative;
	width: 100%;
	height: 500px;
}

.featuredImage {
	border-radius: 6px;
}

@media (max-width: 768px) {
	.featuredImageContainer {
		height: 300px;
	}
}
