.footer {
	height: 10rem;
	background-color: steelblue;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 5%;
}

.logo {
	font-size: x-large;
	font-weight: bold;
}

.rightContainer {
	display: flex;
	flex-direction: column;
}

.newsletter {
	display: flex;
	flex-direction: column;
}

.newsletter > h3 {
	font-family: "Courier New", Courier, monospace;
	font-size: x-large;
	font-weight: bold;
}

.newsletter > p {
	font-size: small;
	font-style: italic;
	margin-bottom: 0.5em;
}

.newsletterForm {
	display: flex;
	flex-direction: row;
	gap: 0.5em;
}

.socialLinks {
	margin-top: 0.5em;
	display: flex;
}

.socialLinks li {
	margin: 5px 15px 5px 0px;
}
