.nav {
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	height: 100vh;
	text-align: left;
	width: 100%;
	background-color: white;
	color: black;
}

.header {
	display: flex;
	justify-content: flex-end;
	background-color: steelblue;
	height: 4em;
	padding: 20px 5%;
}

.nav ul {
	text-transform: uppercase;
	font-size: 2rem;
	margin: 1rem 0;
}

.nav li {
	padding-left: 10px;
	border-bottom: 1px solid gray;
}

.nav ul a {
	outline: none;
}
