.header {
	display: flex;
	align-items: center;
	text-align: center;
	font-weight: 800;
	font-size: large;
	text-transform: uppercase;
}

.header::before,
.header::after {
	content: "";
	flex: 1 1 0%;
	border-bottom: 3px solid rgb(60, 60, 59);
}

.link {
	background-color: cornsilk;
	color: black;
	padding-left: 10px;
	padding-right: 10px;
	margin: 15px;
}

.link:hover {
	background-color: aquamarine;
}
