@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,400;1,100&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	list-style: none;
}

:root {
	--bg-light: #f3f4f6;
	--bg-dark: #111827;
	--typo-color-1: rgb(55, 65, 81);
	--typo-color-2: #f1f5f9;

	--icon-info: url("/icons/note-dark.svg");

	--code-color-light: #3b30b2;
	--code-color-dark: #38ca69;
	--code-highlight: #374151;
	--code-font: "JetBrains Mono", Monaco, "Courier New", monospace;
}

html[class="dark"] {
	--code-color: var(--code-color-dark);
}

html[class="light"] {
	--code-color: var(--code-color-light);
}

body {
	font-family: "Poppins", Arial, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 1.5;
	color: var(--typo-color-1);
}

ins.adsbygoogle[data-ad-status="unfilled"] {
	display: none !important;
}

.copyCodeButton {
	@apply z-10 absolute top-3 right-3 bg-slate-700 hover:bg-slate-600 border-[1px] rounded-md p-[.2rem] text-slate-100;
}

.newsletter-input {
	@apply p-2 text-gray-800 rounded-sm outline-none dark:text-slate-100;
}

.newsletter-bg-before-pattern {
	@apply before:rounded-l-md before:absolute before:content-[''] before:-z-10 before:w-full before:h-full before:bg-no-repeat before:left-0 before:top-0 before:bg-[url('/images/bauhaus-pattern.svg')];
}

.newsletter-bg-after-pattern {
	@apply sm:after:block after:hidden after:rounded-l-md after:absolute after:content-[''] after:-z-10 after:w-full after:h-full after:bg-no-repeat after:top-0 after:right-0 after:rotate-180 after:bg-[url('/images/bauhaus-pattern.svg')];
}

.story-content {
	@apply max-w-4xl prose prose-li:p-0 prose-li:m-0 prose-li:mt-1 prose-ol:m-0 prose-ol:mb-4 prose-ul:m-0 prose-ul:mb-4 prose-h2:text-gray-800 prose-h3:text-gray-800 prose-p:text-gray-800 prose-li:text-gray-800 prose-a:font-normal prose-a:text-blue-600 hover:prose-a:underline prose-li:marker:text-slate-800 dark:prose-invert dark:prose-h2:text-slate-200 dark:prose-h3:text-slate-200 dark:prose-p:text-slate-200 dark:prose-li:text-slate-200 dark:prose-li:marker:text-slate-100;
}
